/***************************************Tag Selector***************************************** */
body {
    font-family:'Montserrat', sans-serif;
}

h1 {
    font-family:'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
    margin-bottom: 30px;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 75px;
}

p {
    color: #8f8f8f
}
/***************************************Class Selector******************************************/

.container-fluid {
    padding: 3% 15%;
}

.btn {
    margin: 7px;
    margin-bottom: 40px;
    margin-left: 0px;
}

.nav-link {
    margin: 20px;
    font-size: 1.25rem;
}

.fa-solid {
    color: #ef8172;
    font-size:80px;
    padding-bottom: 20px;
}

.fa-solid:hover {
    color: #ff4c68;
    font-size:80px;
    padding-bottom: 20px;
}

.col-lg-4 {
    padding: 44px;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;  /* this is to make the picture border round */
    margin: 20px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-indicators {
    text-align: center;
    position: relative;
        top: 550px;

}

.carousel-item {
        padding: 7% 15%;
}

.card {
    padding: 0;
}

.card-body {
    padding: 0;
    text-align: center;
}

/* NOTE! pwede nga pala ipagdugtong ang mga class selector kung may period!!!
/* .card-title.pricing-card-title {
    font-weight: 400; 
}*/

/***************************************ID Selector***************************************** */

#title {
    background-color: #ff4c68 ;
}

#tindog {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

#iphone-6 {
    transform: rotate(25deg);
    width: 60%;
}
/* below code: this is my initial solution below but i prefer ms. angela yu's code*/
/* #features {                 
    width: 65%;
    margin: 100px auto;
    text-align: center;
} */

#features {
    padding: 7% 15%;  
    text-align: center;
}
/* This is angela yu's solution to the feature ID selector above */

/* #guaranteed-to-work {
    font-size: 1.47rem;
} */

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: white;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#pricing {
    text-align: center;
    padding:100px;
}

#pricing-card {
    padding: 3% 2%;
}
